body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-size: 12px;
  font-family: Roboto, Arial, sans-serif;
  color: white;
  background: #181818 !important;
}

iframe {
  border: none;
}

.header {
  width: 100%;
  height: 56px;
}

.logo {
  width: 120px;
  height: 56px;
}

.microphone {
  width: 24px;
}

.main {
  display: flex;
  flex-direction: row;
}

.left-nav a:hover {
  background-color: #555;
}

.left-nav {
  width: 72px;
  font-size: 10px;
}

.grid {
  font-size: 20px;
  min-height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px 20px;
  overflow-y: scroll;
}

.icon-bar a:hover {
  background-color: #555;
}

.active {
  background-color: #000;
  color: #fff;
}



